version: "3.9"

services:
  postgres:
    container_name: postgres_container
    image: postgres:14
    environment:
      POSTGRES_USER: chirayu
      POSTGRES_PASSWORD: chirayu
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres
    ports:
      - "5433:5432"
    networks:
      - postgres
    restart: unless-stopped

  pgadmin:
    container_name: pgadmin_container
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - "5050:80"
    networks:
      - postgres
    restart: unless-stopped
    depends_on:
      - postgres
  mysql:
    container_name: mysql_container
    image: mysql:8.4
    environment:
      MYSQL_ROOT_PASSWORD: Chirayu@1911
      MYSQL_DATABASE: chirayu
      MYSQL_USER: chirayu
      MYSQL_PASSWORD: Chirayu@1911
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3307:3306"
    networks:
      - mysql
    restart: unless-stopped

  phpmyadmin:
    container_name: phpmyadmin_container
    image: phpmyadmin/phpmyadmin
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: Chirayu@1911
    ports:
      - "8484:80"
    networks:
      - mysql
    restart: unless-stopped



  # Add this new service for your Spring Boot app
#  app:
#    container_name: ecom_app_container
#    build: .  # Builds from the Dockerfile in the current directory
#    ports:
#      - "9090:9090"
#    networks:
#      - postgres
#    depends_on:
#      - postgres
#    environment:
#      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres_container:5432/ecomdb  # Use container name for internal networking
#      - SPRING_DATASOURCE_USERNAME=chirayu
#      - SPRING_DATASOURCE_PASSWORD=chirayu
#    restart: unless-stopped

networks:
  postgres:
    driver: bridge
  mysql:
    driver: bridge

volumes:
  postgres:
  pgadmin:
  mysql_data: